{% layout "surround/base.liquid" %}

{% block head %}
    <!-- Our stuff -->
    <link rel="stylesheet" href="/static/styles/markdown.css" />

    <!-- 3rd party assets -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/a11y-dark.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
{% endblock head %}

{% block content %}
    <div class="markdown">
        <h1 style="margin-bottom: 0">{{ title }}</h1>

        <p class="mono">
            Posted: {{ date | date: "%B %d %Y" }}
            {% if updated %}
                (Updated: {{ updated | date: "%B %d %Y" }})
            {% endif %}
        </p>

        <div class="blog-body">
            {{ content }}
        </div>
    </div>
{% endblock %}
