#fun-stuff {
	padding-left: 20px;
	margin-bottom: 50px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-image: radial-gradient(circle 2.5px at 2.5px 2.5px, var(--accent-coral) 2.4px, transparent 2.5px);
	background-size: 5px 12px;
	background-repeat: repeat-y;
	background-position: left top;
}

#programming-stuff {
	padding-left: 20px;
	margin-bottom: 50px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-image: radial-gradient(circle 2.5px at 2.5px 2.5px, var(--accent-green) 2.4px, transparent 2.5px);
	background-size: 5px 12px;
	background-repeat: repeat-y;
	background-position: left top;
}

#other-stuff {
	padding-left: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-image: radial-gradient(circle 2.5px at 2.5px 2.5px, var(--accent-blue) 2.4px, transparent 2.5px);
	background-size: 5px 12px;
	background-repeat: repeat-y;
	background-position: left top;
}
