#fun-stuff {
	border-left: 5px dotted var(--accent-coral);
	padding-left: 15px;
	margin-bottom: 50px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#programming-stuff {
	border-left: 5px dotted var(--accent-green);
	padding-left: 15px;
	margin-bottom: 50px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#other-stuff {
	border-left: 5px dotted var(--accent-blue);
	padding-left: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
}
