#fun-stuff {
	border-left: 5px solid #EE7674;
	padding-left: 15px;
	margin-bottom: 50px;
}

#programming-stuff {
	border-left: 5px solid #4C9F70;
	padding-left: 15px;
	margin-bottom: 50px;
}

#other-stuff {
	border-left: 5px solid #2B3A67;
	padding-left: 15px;
}
