@font-face {
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/static/fonts/ibm-plex-sans/IBMPlexSans-Regular-Latin1.woff2") format("woff2");
}

@font-face {
	font-family: "IBM Plex Sans";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("/static/fonts/ibm-plex-sans/IBMPlexSans-Italic-Latin1.woff2") format("woff2");
}

@font-face {
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("/static/fonts/ibm-plex-sans/IBMPlexSans-SemiBold-Latin1.woff2") format("woff2");
}

@font-face {
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("/static/fonts/ibm-plex-sans/IBMPlexSans-Bold-Latin1.woff2") format("woff2");
}

@font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/static/fonts/ibm-plex-mono/IBMPlexMono-Regular-Latin1.woff2") format("woff2");
}

@font-face {
	font-family: "IBM Plex Mono";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("/static/fonts/ibm-plex-mono/IBMPlexMono-Italic-Latin1.woff2") format("woff2");
}

@font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("/static/fonts/ibm-plex-mono/IBMPlexMono-SemiBold-Latin1.woff2") format("woff2");
}

@font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("/static/fonts/ibm-plex-mono/IBMPlexMono-Bold-Latin1.woff2") format("woff2");
}

/* Dark theme */
:root {
	--bg-color: #000;
	--bg-secondary-color: #131316;
	--color-primary: #f2e86d;
	--color-lightGrey: #747681;
	--color-grey: #ccc;
	--color-darkGrey: #c8c8c8;
	--color-error: #d43939;
	--color-success: #28bd14;
	--color-code: #00a8c8;
	--grid-maxWidth: 120rem;
	--grid-gutter: 2rem;
	--font-size: 1.6rem;
	--font-color: #f5f5f5;
	--font-family-sans: "IBM Plex Sans", sans-serif;
	--font-family-mono: "IBM Plex Mono", monospace;
}

/* Light theme */
body.light {
	--color-primary: #044389;
	--bg-color: #ffffff;
	--bg-secondary-color: #f3f3f6;
	--font-color: #333333;
	--color-grey: #747681;
	--color-darkGrey: #3f4144;
	--color-code: #147082;
}

/* Core stuff */
body {
	font-family: var(--font-family-sans);
	margin-bottom: 500px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}

ion-icon {
	font-size: 24px;
}

body,
html {
	max-width: 90vw;
	height: 100%;
	margin: auto;
}

code,
kbd,
pre,
samp,
tt {
	font-family: var(--font-family-mono);
}

code {
	color: var(--color-code);
}

/* Classes */
.bold {
	font-weight: bold;
}

.header-text > a {
	font-family: var(--font-family-mono);
}

.section {
	padding-top: 30px;
}

.content {
	margin: 0.35em 0 0.7em;
	padding: 1rem 2rem;
	font-size: 18px;
}

.mono {
	font-family: var(--font-family-mono);
}
