{% layout "surround/base.liquid" %}

{% block head %}
    <link rel="stylesheet" href="/static/styles/home.css" />
{% endblock head %}

{% block content %}
    <div class="section">
        <h2>Things I've Made</h2>

        <div id="fun-stuff">
            <h4>Fun Stuff</h4>

            <p style="margin-bottom: 25px">
                <a class="bold" href="https://wordle.danstewart.xyz">Custom Wordle</a><br/>
                A wordle clone that lets you create games for others to play
            </p>
            <p style="margin-bottom: 25px">
                <a class="bold" href="https://onion.danstewart.xyz">Onion or not?</a><br/>
                A news headline guessing game
            </p>
        </div>

        <div id="programming-stuff">
            <h4>Programming Stuff</h4>

            <p style="margin-bottom: 25px">
                <a class="bold" href="https://binder.danstewart.dev/">Binder JS</a><br/>
                A basic JavaScript library for binding DOM elements to JavaScript classes
            </p>
            <p style="margin-bottom: 25px">
                <a class="bold" href="https://pypi.org/project/quickrun/">quickrun</a><br/>
                Python tools for running commands across multiple servers
            </p>
            <p style="margin-bottom: 25px">
                <a class="bold" href="https://crates.io/crates/clinput">CLInput</a><br/>
                A rust crate for handling CLI input
            </p>
        </div>

        <div id="other-stuff">
            <h4>Other Stuff</h4>

            <p style="margin-bottom: 25px">
                <a class="bold" href="https://logmytime.app/">LogMyTime</a><br/>
                A lightweight working hours and overtime tracker
            </p>
            <p style="margin-bottom: 25px">
                <a class="bold" href="https://scovid19.xyz">scovid19.xyz</a><br/>
                A COVID-19 stats dashboard for Scotland
            </p>
            <p style="margin-bottom: 25px">
                <a class="bold" href="https://addons.mozilla.org/en-GB/firefox/addon/github-widener/">GitHub Widener for Firefox</a><br/>
                A firefox extension to make GitHub wider
            </p>
        </div>
    </div>

    <div class="section">
        <h2>Contact</h2>
        <p id="contact">You can contact me at</p>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelector("#contact").innerHTML += ` <a href="mailto:a5a961a2-b7e6-433c-97cd-c0abc2f9aff9@simplelogin.com">a5a961a2-b7e6-433c-97cd-c0abc2f9aff9@simplelogin.com</a>`;
        });
    </script>
{% endblock content %}
